@use "../setting/setting";
.c-section{
  padding: 40px 0;
}

.c-section + .c-section{
  padding-top: 0;
}

.c-section__heading{
   text-align: center;

  h2{
    position: relative;
    display: inline-block;
    padding-top: 16px;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      margin: 4px 2px 0;
      background-color: setting.$color-main;
      bottom: -8px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      margin: 4px 2px 0;
      background-color: setting.$color-main;
      bottom: -8px;
      left: 12px;
    }
  }
}

@media (min-width: 1024px){
  .c-section{
    padding: 64px 0;
  }

  .c-section__heading{

    h2{
    font-size: 36px;

    }
  }
}



