@use "../setting/setting";

.c-works{
  background: #F5F5F5;
  padding: 48px 0;
}

.c-works__heading{
  text-align: center;

  span{
    color: setting.$color-main;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
  }
}

.c-works__items{
  margin-top: 24px;
}

.c-works__item-header{
  display: none;
}

.c-works__item{
  border-bottom: 1px solid #dadada;
  padding: 16px 0;
}

.c-works__meta{
  display: flex;
  font-size: 14px;
}

.c-works__area{
  margin-left: 16px;
}

.c-works__title{
  margin-top: 8px;
}

/*================================
	Tab以上
=================================*/
@media (min-width: 768px){
  .c-works__item{
    display: flex;
    gap: 24px;
  }

  .c-works__item-header{
    display: flex;
    gap: 24px;
    color: setting.$color-main;
    font-weight: bold;
    border-bottom: 1px solid setting.$color-main;
    padding-bottom: 8px;
  }

  .c-works__meta{
    font-size: 16px;
    margin-top: 8px;
  }

  .c-works__client{
    width: 100px;
  }

  .c-works__area{
    width: 100px;
  }
}

/*================================
	PC
=================================*/
@media (min-width: 1024px){
  .c-works{
    padding: 88px 0 106px;
  }
  .c-works__contents{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "c-works__heading c-works__items"
        "c-button__works c-works__items";
    gap: 0 35px;
  }

  .c-works__items{
    font-size: 18px;
  }

  .c-works__meta{
    font-size: 18px;
  }

  .c-works__area{
    width: 120px;
  }

  .c-works__heading{
    grid-area: c-works__heading;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
      font-size: 36px;
    }
  }

  .c-button__works{
    grid-area: c-button__works;
  }

  .c-works__items{
    grid-area: c-works__items;
  }
  
}

@media (min-width: 1280px){
  .c-works__client{
    width: 160px;
  }
  .c-works__area{
    width: 160px;
  }
}