@use "../setting/setting";

.p-contact{
  padding: 40px 0;
}

.p-contact__body{
  max-width: 720px;
  margin: 0 auto;
}

.p-contact__form{
  background: #fafafa;
  padding: 0 12px 24px;
}

.p-contact__lead{
  p{
    margin-bottom: 12px;
  }
}

@media (min-width: 768px){
  .p-contact{
    padding: 64px 0;
  }
  
  .p-contact__form{
    margin-top: 40px;
    padding: 20px 32px 60px;
  }
}